.Post {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #f85032;
}

.Heart:hover {
  color: #2142b2;
}

.HeartOutline:hover {
  color: #f85032;
}

.Arrow {
  color: #ffa500;
}

.Arrow:hover {
  color: #2142b2;
}

.ArrowOutline:hover {
  color: #ffa500;
}

.Space {
  margin-left: 10px;
}

.Bookmark {
  color: #0077b6;
}

.BookmarkOutline:hover {
  color: #0077b6;
}